/* external style sheet */

body {
    background-color: #a4fc9f;
}

*{
    border: 1px dotted blue;
}

p {
    padding: 5px;
}

ul {
    background-color: #a3c2f0;
}

nav ul {
    background-color: #89d9c9;
}

