/* external style sheet */

body {
    background-color: #a4fc9f;
}

p {
    padding: 5px;
}

ul {
    background-color: #a3c2f0;
}

nav ul {
    background-color: #89d9c9;
}

#shepherd-laying {
    width: 25%;
}

#title-dog {
    width: 25%;
}

.loop-img{
    width: 200px;
}